@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
body {
  background: darkgrey;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: rgb(45, 89, 185);
  border-top: 1px solid rgb(45, 89, 185);
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
  justify-content: flex-start; 
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  span{
    background-color:red;
    border-radius:10px;
    padding:5px; 
  }
}

.message-content,
.message-username {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 0 10px;
  border: 1px transparent solid;
  border-radius: 10px;
  padding: 5px;
}

.message-content {
  display: inline-flex;
  background-color:white;
  color:black;
  border: 3px solid;
  max-width: 100%;

}

.img-span{
  max-width: 60%;
  img{
    max-width: 100%;
  }
}

.message-username {
  flex: 2;
  font-weight: 700;
  background-color: white;
  max-width:20%;
  max-height:16px;
  border:3px solid;
}

.navbar {
  display:flex;
  background: rgb(45, 89, 185);
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  span{
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

#logo{
  margin-top:15px;
}

